/vendor/
/packages/

# Update local version numbers (README.md) and composer.json version (v. important)
# Commit changes and push to origin
# Create a new tag locally then push to origin e.g. publish tagged version 1.3.22
# $ git tag -a 1.4.3 -m 'Version 1.4.3'
# $ git push origin 1.4.3